[Unit]
Description=factorio-site

[Service]
ExecStart=/bin/sh -c "/opt/factorio-site/factorio-site --password=`cat /opt/factorio-rcon-password`"
WorkingDirectory=/opt/factorio-site
Restart=always

[Install]
WantedBy=multi-user.target
