[Unit]
Description=factorio-site

[Service]
ExecStart=/opt/factorio-site/server
WorkingDirectory=/opt/factorio-site
Restart=always

[Install]
WantedBy=multi-user.target
