[Unit]
Description=factorio-site

[Service]
ExecStart=/home/factorio/factorio-site
WorkingDirectory=/home/factorio
Restart=always

[Install]
WantedBy=multi-user.target
