<!DOCTYPE html>
<html lang="en">
    <head>
        <title>blackolivepineapple.pizza Factorio Server</title>
        <style>
            html {
                font-family: sans-serif;
                padding: 10px;
            }
        </style>
    </head>
    <body>
        <h1>blackolivepineapple.pizza Factorio Servers</h1>
        {{range .}}
            <h3>{{.Title}}</h3>
            <ul>
                <li><b>Description:</b> {{.Description}}</li>
                <li><b>Connection String:</b> {{.IPAddr}}{{if ne .Port 34197}}:{{.Port}}{{end}}</li>
                <li><b>Version:</b> {{.Version}}</li>
                <li><b>Current players:</b><br>{{.Players}}</li>
            </ul>
        {{end}}
    </body>
</html>
